/* Элегантные иконки для маркированного списка */
.md-content__inner ul {
  list-style: none;
  padding-left: 0;
}

.md-content__inner ul>li {
  position: relative;
  padding-left: 1.5em;
}

.md-content__inner ul>li::before {
  content: '🔸';
  position: absolute;
  left: 0;
  font-size: 1.1em;
  color: #ffb300;
  /* Amber 600 */
}


/* === Заголовки === */

/* H1 — название страницы */
.md-content__inner h1::before {
  content: '📖';
  margin-right: 0.4em;
  color: #00796B;
  /* Teal 700 */
}

/* H2 — основной раздел */
.md-content__inner h2::before {
  content: '🔶';
  margin-right: 0.4em;
  color: #FFA000;
  /* Amber 700 */
}

/* H3 — подраздел */
.md-content__inner h3::before {
  content: '👉';
  margin-right: 0.4em;
  color: #FFB300;
  /* Amber 600 */
}

/* H4 — подподраздел (опционально) */
.md-content__inner h4::before {
  content: '👉';
  margin-right: 0.4em;
  color: #888;
}

.github-logo-wrapper {
  display: inline-block;
  vertical-align: middle;
  position: relative; 
  top: -0.1em;
}

.github-logo {
  width: 40px;
  height: 40px;
  vertical-align: middle;
  display: none;
}

[data-md-color-scheme="default"] .github-logo.light {
  display: inline;
}

[data-md-color-scheme="slate"] .github-logo.dark {
  display: inline;
}
